logs/
*.log

target/
build/
out/

.idea/
*.iml

.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

.DS_Store
Thumbs.db

node_modules/

.env

.gradle/

!.mvn/wrapper/maven-wrapper.jar

sources.txt